// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

//$primary   = #729BFF
$primary   = #899da9
$primary50 = rgba($primary, .5)
$primary66 = rgba($primary, .66)
$secondary = #665EB8
$tertiary  = #632E62

$neutral   = #E0E1E2
$positive  = #558451
$negative  = #a73e1f
$info      = #156558
$warning   = #ab5921

$darker = #131212
//$dark = #252324
//$dark = #292728
$dark = #2d2b2c
$grey = #3A3739
$faded = #4C494A
$light = #8F898C

$white = #bdb7ba

$border-radius = .35em

$body-background = #1f1d1e
// $body-background = #ffffff
$body-color = $white

$sl-highlight = #1bb258
//$medium = #322f31
$medium = #393638

// annotation colors
$annotation-text = #FF5B4A
$annotation-video = #2EAFFF
$annotation-vocabulary = #4FE083
