@import '~variables'

$sl-highlight = #1bb258
$sl-medium = #322f31

.popup-shadow
  background: $sl-medium
  -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.5)
  -moz-box-shadow: 0 10px 30px rgba(0,0,0,0.5)
  box-shadow: 0 10px 30px rgba(0,0,0,0.5)
  border: 1px solid $faded

//.q-list-dark
//  border: 0

/* svg color classes */

.fill-black
  fill: $darker

.fill-dark
  fill: $dark

.fill-grey
  fill: $grey

.fill-faded
  fill: $faded

.fill-medium
  fill: $sl-medium

.fill-fadedlight
  fill: #757173

.fill-light
  fill: $light

.fill-neutral
  fill: $neutral

.fill-white
  fill: white


.stroke-highlight
  stroke-width: 1px
  stroke: $sl-highlight

.stroke-primary
  stroke-width: 1px
  stroke: $primary

.stroke-secondary
  stroke-width: 1px
  stroke: $secondary

.stroke-neutral
  stroke-width: 1px
  stroke: $neutral

.stroke-black
  stroke-width: 1px
  stroke: $darker

.stroke-dark
  stroke-width: 1px
  stroke: $dark

.stroke-grey
  stroke-width: 1px
  stroke: $grey

.stroke-faded
  stroke-width: 1px
  stroke: $faded

.stroke-light
  stroke-width: 1px
  stroke: $light

.stroke-white
  stroke-width: 1px
  stroke: white


.no-select
  -webkit-touch-callout: none /* iOS Safari */
  -webkit-user-select: none /* Safari */
  -moz-user-select: none /* Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently supported by Chrome and Opera */

.no-event
  pointer-events: none

.is-visible
  visibility: visible

.is-hidden
  visibility: hidden

.is-transparent
  opacity 0

.p-abs
  position: absolute

.p-fixed
  position: fixed

.ew-resize
  cursor: ew-resize !important

.global-ew-resize
  *
    cursor: ew-resize !important

.global-grabbing
  *
    cursor: grabbing !important

.grab
  cursor: move
  cursor: grab
  cursor: -moz-grab
  cursor: -webkit-grab

.grabbing
  cursor: grabbing
  cursor: -moz-grabbing
  cursor: -webkit-grabbing

.pointer
  cursor: pointer
