@import '~variables'

//.q-list-dark
//  border: 0


.no-select
  -webkit-touch-callout: none /* iOS Safari */
  -webkit-user-select: none /* Safari */
  -moz-user-select: none /* Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently supported by Chrome and Opera */

.no-event
  pointer-events: none

.is-visible
  visibility: visible

.is-hidden
  visibility: hidden

.is-transparent
  opacity 0

.p-abs
  position: absolute

.p-fixed
  position: fixed

.ew-resize
  cursor: ew-resize !important

.global-ew-resize
  *
    cursor: ew-resize !important

.global-grabbing
  *
    cursor: grabbing !important

.grab
  cursor: move
  cursor: grab
  cursor: -moz-grab
  cursor: -webkit-grab

.grabbing
  cursor: grabbing
  cursor: -moz-grabbing
  cursor: -webkit-grabbing

.pointer
  cursor: pointer
