[submodule "src/components/mosys"]
	path = src/components/mosys
	url = git@gitlab.rlp.net:motionbank/mbjs/quasar-components-mosys.git
[submodule ".docker-lib"]
	path = .docker-lib
	url = git@gitlab.rlp.net:motionbank/tools/docker-lib.git
