[submodule "src/components"]
	path = src/components
	url = git@github.com:motionbank/libmb-quasar-components.git
[submodule "src/lib"]
	path = src/lib
	url = git@github.com:motionbank/libmb-quasar-lib.git
