// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.

// App Shared Color Variables
// --------------------------------------------------

$primary   = #729BFF
$secondary = #665EB8
$tertiary  = #632E62

$neutral   = #E0E1E2
$positive  = #558451
$negative  = #a73e1f
$info      = #156558
$warning   = #ab5921

$dark = #252324
$grey = #3A3739
$faded = #4C494A
$light = #8F898C

$white = #bdb7ba

$border-radius = .35em

$body-background = #1f1d1e
// $body-background = #ffffff
$body-color = $white

$div-background = $red



td
  background transparent!important
  // color black
  border-color black!important
  padding .75em .7em!important

th
  // color black!important
  // background-color #f3f3f3!important
  // background-color transparent!important

tr:last-of-type td
  border-bottom 0!important


.content-wrap
  width 80vw
  display inline-block
  // float right

.content-wrap-wide
  padding: 2em


.margin-bottom {
  margin-bottom: 5em;
}

.q-data-table
  border 0!important

.q-data-table-container
  margin-top 0!important

.search-bar
  box-shadow 0 0 20px 0 rgba( 0, 0, 0, .2 )
  padding .2em .5em
  // border-radius $border-radius

.table-top
  margin-bottom 1em

.add-form
  width 50%
  // display none

.anno
  animation test_opacity 1s ease, test_margin 300ms
  animation-iteration-count 1
  padding 1em
  /* transform: translateX( 25vw ); */
  opacity .2
  background-color #ccc
  color black

.anno:hover
  opacity 1

@keyframes test_opacity {
  from {
    opacity: 1
  }
  to {
    opacity: .2
  }
}

@keyframes test_margin {
  from {
    margin-top: -2em
  }
  to {
    margin-top: 0
  }
}


#test {
  background-color: red!important;
  height: 70vh;
  overflow-y: scroll;
}

#annotations-form {
  display: none;
  position: absolute;
  top: 4em;
  right: 4em;
  background-color: green;
  z-index: 10;
  width: 20vw;
}
